<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajouter une Compétence</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css"> <!-- Lien vers votre fichier CSS global -->
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Ajouter une Compétence</h1>

    <form action="/addcompetence" method="POST" class="mb-4 form-input">
      <!-- Boutons -->
      <div class="btn-group-vertical">
        <button type="submit" class="btn-grad">Nouveau</button>
        <a href="/competence" class="btn-grad">Retour</a>
      </div>
        <div class="form-group">
            <label for="domaine_id">Domaine :</label>
            <select id="domaine_id" name="domaine_id" class="form-control" required>
                <% domaines.forEach(domaine => { %>
                <option value="<%= domaine.id %>"><%= domaine.nom %></option>
                <% }); %>
            </select>
        </div>

        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" class="form-control" required>
        </div>
    </form>
  </div>

  <!-- Scripts JS de Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
