<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajouter un Étudiant</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css"> <!-- Lien vers votre fichier CSS global -->
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Ajouter un Étudiant</h1>
    
    <form action="/addstudent" method="POST" class="mb-4">
      <button type="submit" class="btn btn-success mb-1">Ajouter l'Étudiant</button>
      <a href="/" class="btn btn-secondary mb-1">Retour</a>
      <div class="form-group">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="fullname">Prénom :</label>
        <input type="text" id="fullname" name="fullname" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="classe">Classe :</label>
        <input type="text" id="classe" name="classe" class="form-control" required>
      </div>
    </form>
  </div>

  <!-- Scripts JS de Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
