<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css"> <!-- Lien vers votre fichier CSS global -->
</head>
<body>
  <div class="center-content">
    <a href="/home"><img src="/profile/profilepicture.jpg" alt="Profile Image" class="round-image"></a>
    <h2>TIPHAINE MOUREU</h2>
  </div>
</body>
</html>